<!DOCTYPE html>
<html>
<title>Services in AngularJS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
 <script src="js/angular.min.js"></script>
 <script src="js/angular-resourec.js"></script>

  <script src="js/myScript.js"></script>
  <script src="js/a.js"></script>


<style>
	.btnn{
		width : 48px;
	}
	.below {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: right;
}
</style>
<body class="w3-sand"  ng-app="myApp" ng-controller="myCtrl">

	 <header class="w3-container w3-teal w3-center">
  			<h1> Creating Custom Service</h1> <br> <h5> Assingment no 2.3  <br> Encryption and Decryption Service </h5>
	</header>
	<div class="w3-center w3-padding-64"> <button class="w3-btn w3-xxlarge" ng-click="showEncryptMessgae()"> Encrypt  </button>  <button class="w3-btn w3-xxlarge" ng-click="showDecryptMessgae()"> DeCrypt  </button> </div>
	<div class="w3-container w3-padding-64 w3-center" >
		<span class="w3-xxlarge"ng-model="message">{{message}}</span>
	</div>

	<footer class="below w3-teal"> Ajinkya Dhote</footer>
</body>
</html>
