<div>
<h1> Select Date </h1>
	<div>
		<label> Year</label>
		<select ng-model="date.year" ng-options="year for year in dateSecetion.years()"> 
			<option value=""></option>
		</select>

		<label> Month</label>
		<select ng-model="date.month" ng-options="month for month in dateSecetion.months()"> 
			<option value=""></option>
		</select>

		<label> Date</label>
		<select ng-model="date.day" ng-options="day for day in dateSecetion.days()"> 
			<option value=""> </option>
		</select>
	</div>

	<div>

		<label>Hours</label>
		<select ng-model="date.hour" ng-options="hour for hour in dateSecetion.hours()"> 
			<option value="">  </option>
		</select>

		<label>Minutes</label>
		<select ng-model="date.minute" ng-options="minute for minute in dateSecetion.minutes()"> 
			<option value="">  </option>
		</select>

		<label>Minutes</label>
		<select ng-model="date.second" ng-options="second for second in dateSecetion.seconds()"> 
			<option value="">  </option>
		</select>
	
	</div>



	<div>	<p> <b> Time : </b> <input class="w3-input" type="text" ng-model="date.time" style="font-weight:100"/></p> </div>
</div>