
    <div class="w3-container w3-display-middle" id="calculator" ng-if="isLogin">
		<input class="w3-input w3-border"  selected ng-model="value"/>
		<div class="w3-row">
			<div>
				<div class="w3-row-padding w3-padding-4">
					<button class="w3-btn w3-round btnn w3-hover-white"  id="clear" ng-click="displayNo('clear')">C</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="divide" ng-click="displayNo('divide')">&divide;</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="multiply" ng-click="displayNo('multiply')" >*</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="minus" ng-click="displayNo('minus')" >-</button>
				</div>
				<div class="w3-row-padding w3-padding-4">
					<button class="w3-btn w3-round btnn w3-hover-white"  id="no7" ng-click="displayNo('7')" >7</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="no8" ng-click="displayNo('8')" >8</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="no9" ng-click="displayNo('9')" >9</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="plus" ng-click="displayNo('+')">+</button>
				</div>
				<div class="w3-row-padding w3-padding-4">
					<button class="w3-btn w3-round btnn w3-hover-white"  id="no4" ng-click="displayNo('4')" >4</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="no5" ng-click="displayNo('5')" >5</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="no6" ng-click="displayNo('6')" >6</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="modulo" ng-click="displayNo('%')" >%</button>
					
				</div>
				<div class="w3-row-padding w3-padding-4">
					<button class="w3-btn w3-round btnn w3-hover-white"  id="no1" ng-click="displayNo('1')" >1</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="no2" ng-click="displayNo('2')" >2</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="no3" ng-click="displayNo('3')" >3</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="dot" ng-click="displayNo('.')" >.</button>
				</div>
				<div class="w3-row-padding w3-padding-4">
					<button class="w3-btn w3-round btnn w3-hover-white"  id="square" ng-click="displayNo('square')" >x&sup2;</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="no0" ng-click="displayNo('no0')" >0</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="half" ng-click="displayNo('half')" >&frac12;</button>
					<button class="w3-btn w3-round btnn w3-hover-white"  id="delete" ng-click="displayNo('delete')" >del</button>
				</div>
				
				<div class="w3-row-padding w3-padding-4">
					<button class="w3-btn-block w3-hover-white"  id="enter" ng-click="displayNo('enter')" >Enter</button>
				</div>
			</div>
			
		</div>
		
		
</div>   

<div class="jumbotron text-center" ng-if="!isLogin">
    <h1>Calculator</h1>
    <p>Login <span class="text-danger">to</span> Calculate.</p>    
</div>